@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.wrapper{
    position:static;
    background-color: black;
    height:100vh;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.wrapper::-webkit-scrollbar { 
    display: none;
}

.wrapper>div{
    scroll-snap-align: end;
}

.container{
    position:relative;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template: 100px auto / 1fr;
    letter-spacing: 1px;
    transition : color 5s, border-right 5s;
    animation: 2s BG;
}

.filter{
    position: absolute;
    height: 10vh;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(38, 38, 38,0.6) 80%, rgba(38, 38, 38,0.8) 100%);
    top:90vh;
    width: 100%;
}

.container>main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-top: -100px;
    grid-row: 2/3;
}

.navAbsolute{
    position:fixed;
    height: 150px;
    width: 100%;
    z-index:2;
    color : white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-family: 'Roboto', sans-serif;
    /* background-color: #12161a; */
    transition : color 3s;
}

.navAbsolute>p{
    font-weight: 300;
    cursor: pointer;
    padding-left: 100px;
}

.navAbsolute>p>a>span{
    font-weight: 700;
}

.navAbsolute>ul{
    display: flex;
    padding-right: 200px;
    gap:6vw;
}

.navAbsolute>ul>li, .navAbsolute>ul>a>li{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.8rem;
    text-decoration-thickness: 2px;
    text-decoration-color:transparent;
    transition: text-decoration-color 0.4s;
    font-weight: 500;
}

.navAbsolute>ul>li:hover, .navAbsolute>ul>a>li:hover{
    text-decoration-color: white;
}

.container>main>h1{
    position: relative;
    font-size:max(4.5vw, 50px);
    font-weight: 300;
}

.developper{
    font-weight: 700;
}

.underText{
    letter-spacing: 1.5px;
    font-weight: 500;
    animation: 2.5s 0.8s underText;
    overflow: hidden;
    position:relative;
}

.spec{
    border-right: 2px solid white;
    padding-top: 2px;
    overflow: hidden;
    animation:
        5s 6s steps(100, end) infinite typing-erase,
        0.8s step-end infinite typeWriter;
    white-space: nowrap;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.contact{
    position: fixed;  
    top:0;
    left: 0;
    height:100px;
    width: 100%;
    background-color:  #262626;
    color: white;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px;
    justify-content: center;
    animation:1s contact;
}

.contact>span{
    text-align: center;
    font-weight: 500;
    margin-right: 10px;
}

@keyframes contact {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.contact>img{
    height: 25px;
    width: auto;
    cursor: pointer;
    position: absolute;
    top:15px;
    right: 20px;
}

@keyframes typing-erase {
    0% { width: 100% }
    20% { width: 46% }
    40% { width: 46% }
    70% { width: 100% }
    100% { width: 100% }
}

@keyframes typeWriter {
    from, to { border-color: transparent }
    50% { border-color: white }
}


@keyframes BG {
    from { opacity:0 }
    to   { opacity:1 }
}

@keyframes underText {
    from {  left:-50%; opacity:0 }
    50%  { left:3% }
    to { left:0; opacity:1 }
}
@media (max-width:1600px) {
    .container{
        background-position: 80%;
    }
}

@media (max-width:1000px) {
    .wrapper{
        scroll-snap-type:none;
    } 

    .navAbsolute{
        height: 150px;
        flex-direction: column;
        justify-content: center;
        gap:30px;
        background-color: #262626;
    }

    .navAbsolute>p{
        padding-left: 0;
        font-size: 24px;
    }

    .navAbsolute>ul{
        padding-right: 0;
    }

    .navAbsolute>ul>li{
        text-decoration: none;
    }
}

@media (max-width:900px) {
    .navAbsolute{
        height: 130px;
    }
}

@media (max-width:600px) {
    .container>main>h1{
        text-align: center;
        width: 300px;
        font-size: 35px;
    }

    .container>main>p{
        text-align: center;
    }

    .container>main{
        gap:60px;
        margin-top: 0;
    }

    .container>main>div, .underText{
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

@media (max-width:500px) {

    .container{
        background-position: 80%;
    }

    .navAbsolute{
        height: 100px;
        gap:20px;
    }

    .navAbsolute>ul>li:hover, .navAbsolute>ul>a>li:hover{
        text-decoration-color: transparent;
    }

    .navAbsolute>p{
        font-size: 18px;
    }

    .navAbsolute>ul{
        font-size: 13px;
    }

    .contact{
        font-size: 14px;
      }
}