.secondContainer{
    height: 100vh;
    background-color: #262626;
    color:white;
    position:relative;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template: 100px 1fr 1fr / 1fr;
}

.secondContainer>section:nth-child(2){
    display: flex;
    gap:80px;
    grid-row: 3/4;
    place-self: center center;
    margin-bottom: 50px;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    place-self: center center;
}

.secondContainer>section:nth-child(1){
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    position: relative;
    margin-top: 50px;
}

.profil{
    display: flex;
    gap:70px;
    align-items: center;
    justify-content: center;
}

.profil>div{
    width:32vw;
    display: flex;
    flex-direction: column;
    gap:30px
}

.profil>div>h2{
    font-weight: 700;
    font-size: 28px;
}

.profil>div>p{
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
}

.profil>div>p>u{
    text-decoration-thickness: 2px;
    text-underline-offset:4px;
}

.profil>div>p>u:hover{
    text-decoration-color: #61DBFB;
}

.profil>img{
    border-radius: 50%;
    height:300px;
    width: auto;
    transition: transform 1.5s;
}


.logo{
    display: flex;
    position: relative;
    width: 100vw;
}

.logo>div{
    display: flex;
    gap:50px;
    width:30vw;
    height:50px;
}

.profil>div>div{
    display: flex;
    width: 32vw;
    overflow: hidden;
    align-self: center;
}

.scrollLogo{
    white-space: nowrap;
    animation: defil 15s linear infinite;
    display: flex;
    gap: 10px;
    max-height: 40px;
    font-size: 9.5vw;
}

@keyframes defil {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}