.secondContainer{
    height: 100vh;
    background-color: #262626;
    color:white;
    position:relative;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap:7vw;
    align-items: center;
    justify-content: center;
}

.secondContainer>section:nth-child(1){
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    transition: all 1s;
}

.secondContainer>section:nth-child(2){
    display: flex;
    gap:60px 7vw;
    grid-row: 3/4;
    place-self: center center;
    transition: all 1s;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50px;
}

.profil{
    display: flex;
    gap:3.5vw;
    align-items: center;
}

.profil>div{
    width:clamp(320px, 50vw, 750px);
    display: flex;
    flex-direction: column;
    gap:20px
}

.headProfil>h2{
    font-weight: 700;
    font-size: max(1.45vw,18px);
}

.profil>div>p{
    font-size: clamp(16px, 1.3vw, 18px);
    font-weight: 300;
    line-height: 28px;
}

.profil>div>p>span{
    color:#61DBFB;
}

.profil>img{
    border-radius: 50%;
    height:max(13vw,160px);
    width: auto;
    transition: transform 1.5s;
}

.headProfil>div{
    display: flex;
    width: 27px;
    overflow: hidden;
    align-self: center;
}

.headProfil{
    display: flex;
    gap:10px;
    align-items: center;
}

.scrollLogo{
    white-space: nowrap;
    animation: defil 10s steps(8, end) infinite;
    display: flex;
    max-height: 50px;
}

@keyframes defil {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}

@media (max-width:1000px), (max-height:900px) {
    .secondContainer{
        scroll-margin: 60px;
    }
}

@media (max-width:900px), (max-height:900px) {

    .profil{
        flex-direction: column;
    }

    .profil>div{
        align-items: center;
        gap:30px
    }

    .profil>div>p{
        width: 70vw;
        text-align: center;
    }

    .secondContainer{
        height: auto;
        gap:100px;
        scroll-margin: 100px;
    }
}

@media (max-width:500px) {
    .profil>div>p{
        width: 80vw;
        text-align:left;
    }

    .secondContainer>section:nth-child(1){
        margin-top: 80px;
    }

    .secondContainer>section:nth-child(2){
        gap: 70px;
    }

    .secondContainer{
        height: auto;
        gap:70px;
        scroll-margin: 30px;
    }
}