@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lilita+One&family=Passion+One&display=swap');

.thirdContainer{
    height: 100vh;
    background-color: #262626;
    color: white;
    position:relative;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    grid-template: 250px auto / 1fr;
}

.thirdContainer>h1{
    font-size: 45px;
    font-family: 'Lilita One', cursive;
    place-self: center center;
    margin-top: 40px;
}

/* .thirdContainer>h1>u{
    text-decoration-thickness: 3px;    
    text-underline-offset:20px;
} */

.allProjects {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.thirdContainer>div:last-child{
    position: absolute;
    left: 0;
    bottom:0;
    right:0;
    z-index: 2;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

@media (max-width:1600px) {
    .allProjects{
        grid-template:none
    }
}

@media (max-width:1000px) {
    .thirdContainer>h1{
        font-size: 35px;
        margin-top: 0;
    }

    .thirdContainer{
        scroll-margin: 80px;
        height: auto;
        grid-template: 200px auto / 1fr;
    }
}

@media (max-width:500px) {
    .thirdContainer{
        margin-top: 0px;
        scroll-margin: 0px;
    }
}