.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    background-color: rgb(255, 255, 255,0.1);
    padding: 10px;
    border-radius: 10px;
    transition:margin .5s
}

.container:hover{
    margin-top:-15px
}

.top{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.top>h1{
    font-weight: 500;
    font-size: 18px;
}

.container>p{
    height: 100px;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    padding: 20px
}

.pictureFrame{
    background-color: #38a2b7;
    border-radius: 50%;
    width:50px;
    height: 50px;
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center center;
    transition: transform 1s;
}

.container:hover .pictureFrame{
    transform: rotate(-45deg);
}

.containerLogo {
    display: flex;
    gap: 3vw;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.containerLogo>img {
    width: 30px;
    height: auto;
    border-radius: 5px;
}